In [2]:
import numpy as np
import pandas as pd
import os

In [60]:
import seaborn as sns

In [3]:
train_data = pd.read_csv(os.path.join('train_data.csv'))
test_data = pd.read_csv(os.path.join('test_data.csv'))
sample_sub = pd.read_csv(os.path.join('sample_submission.csv'))

FileNotFoundError: [Errno 2] No such file or directory: 'train_data.csv'

In [32]:
train_data
# userID : 사용자의 고유번호
# assessmentItemID : 문항의 고유번호
# testId : 시험지의 고유번호
# answerCode : 정답 여부 
# Timestamp : 문제 시작 시간
# KnowledgeTag : 문제 태그

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225
...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438
2266582,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836
2266583,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836
2266584,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836
2266585,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836

In [269]:
test_data['answerCode'].unique()

array([ 1,  0, -1])

In [24]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266586 entries, 0 to 2266585
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   userID            int64
 1   assessmentItemID  object
 2   testId            object
 3   answerCode        int64
 4   Timestamp         object
 5   KnowledgeTag      int64
dtypes: int64(3), object(3)
memory usage: 103.8+ MB

In [30]:
len(train_data['userID'].unique())

6698

In [65]:
#유저별 평균 평점 
train_data.groupby('userID')['answerCode'].mean()

userID
0       0.630872
1       0.853162
2       0.612319
5       0.795918
6       0.442997
          ...
7436    0.466667
7437    0.375000
7438    0.750000
7440    0.400000
7441    0.555556
Name: answerCode, Length: 6698, dtype: float64

In [34]:
train_data['assessmentItemID'].apply(lambda x : x[0]).unique()

array(['A'], dtype=object)

In [273]:
#문항 별 평균 정답률
train_data.groupby('assessmentItemID')['answerCode'].mean() * 100

assessmentItemID
A010001001    93.059937
A010001002    95.899054
A010001003    90.536278
A010001004    94.952681
A010001005    88.643533
                ...
A090074002    44.444444
A090074003    57.777778
A090074004    33.333333
A090074005    40.000000
A090074006    46.666667
Name: answerCode, Length: 9454, dtype: float64

In [73]:
train_data['assessmentItemID'].apply(lambda x : x[2]).unique()

array(['6', '8', '2', '4', '9', '3', '5', '1', '7'], dtype=object)

In [177]:
#index 2번 난이도 파악
train_data['assessment_2'] = train_data['assessmentItemID'].str[2]  #index2 만 추출
train_data.groupby('assessment_2')['answerCode'].mean()#.hist()

assessment_2
1    0.800876
2    0.737593
3    0.702238
4    0.684056
5    0.658208
6    0.709232
7    0.521876
8    0.502598
9    0.449948
Name: answerCode, dtype: float64

In [78]:
train_data['assessmentItemID'].apply(lambda x : x[4:5]).unique()

array(['0', '1'], dtype=object)

In [79]:
train_data['assessment_4'] = train_data['assessmentItemID'].str[4]  #index4만 추출
train_data.groupby('assessment_4')['answerCode'].mean()

assessment_4
0    0.635048
1    0.682091
Name: answerCode, dtype: float64

In [80]:
train_data = train_data.drop(columns = ['assessment_4'])

In [196]:
train_data.groupby('assessmentItemID')['answerCode'].mean()

assessmentItemID
A010001001    0.930599
A010001002    0.958991
A010001003    0.905363
A010001004    0.949527
A010001005    0.886435
                ...
A090074002    0.444444
A090074003    0.577778
A090074004    0.333333
A090074005    0.400000
A090074006    0.466667
Name: answerCode, Length: 9454, dtype: float64

In [197]:
train_data.groupby('assessmentItemID')['answerCode'].count()

assessmentItemID
A010001001    317
A010001002    317
A010001003    317
A010001004    317
A010001005    317
             ...
A090074002     45
A090074003     45
A090074004     45
A090074005     45
A090074006     45
Name: answerCode, Length: 9454, dtype: int64

In [ ]:
# assessmentItemID -> index 2 -> 문제의 난이도
#

In [51]:
len(train_data['testId'].unique())

1537

In [82]:
train_data.groupby('testId')['answerCode'].mean()

testId
A010000001    0.926183
A010000002    0.931613
A010000003    0.846440
A010000004    0.883117
A010000005    0.855172
                ...
A090000070    0.418605
A090000071    0.336111
A090000072    0.418519
A090000073    0.529630
A090000074    0.425926
Name: answerCode, Length: 1537, dtype: float64

In [173]:
train_data['testId_2'] = train_data['testId'].str[2]

In [174]:
train_data.groupby('testId_2')['answerCode'].mean()

testId_2
1    0.800876
2    0.737593
3    0.702238
4    0.684056
5    0.658208
6    0.709232
7    0.521876
8    0.502598
9    0.449948
Name: answerCode, dtype: float64

In [87]:
train_data['testId'].apply(lambda x : x[0:2]).unique()

array(['A0'], dtype=object)

In [86]:
train_data['testId'].apply(lambda x : x[3:7]).unique()

array(['0000'], dtype=object)

In [100]:
train_data['testId'].apply(lambda x : x[7]).unique()

array(['0', '1'], dtype=object)

In [101]:
train_data['test_2_7'] = train_data['testId'].str[2] + train_data['testId'].str[7:]

In [172]:
train_data.groupby('test_2_7')['answerCode'].mean().sort_values()

test_2_7
9035    0.327186
9071    0.336111
8047    0.344178
8071    0.350895
7075    0.352535
          ...
4188    0.940647
6002    0.945205
6001    0.947683
1145    0.952077
4187    0.955474
Name: answerCode, Length: 1537, dtype: float64

In [97]:
train_data['testId'].apply(lambda x : x[1]).unique()

array(['0'], dtype=object)

In [ ]:
# testId도 assessmentItemID처럼 index 2번이 난이도를 어느정도 결정

In [45]:
print('전체 시험 평균 : ' , train_data['answerCode'].mean() * 100)

전체 시험 평균 :  65.4378435232548

In [162]:
train_data['shift'] = train_data.groupby('userID')['answerCode'].shift().fillna(0)
train_data['past_correct'] = train_data.groupby('userID')['shift'].cumsum()
train_data['past_correct']

0          0.0
1          1.0
2          2.0
3          3.0
4          4.0
          ...
2266581    1.0
2266582    1.0
2266583    2.0
2266584    3.0
2266585    4.0
Name: past_correct, Length: 2266586, dtype: float64

In [108]:
train_data['Timestamp'] = train_data['Timestamp'].str.replace(pat=r'[^A-Za-z0-9]', repl=r'', regex=True) # 특수문자 제거

In [109]:
train_data['Timestamp']

0          20200324001711
1          20200324001714
2          20200324001722
3          20200324001729
4          20200324001736
                ...
2266581    20200605065021
2266582    20200821010639
2266583    20200821010650
2266584    20200821010736
2266585    20200821010849
Name: Timestamp, Length: 2266586, dtype: object

In [144]:
train_data['Timestamp_month'] = train_data['Timestamp'].str[4:6]

In [157]:
month = pd.DataFrame(train_data.groupby('Timestamp_month')['answerCode'].mean())
month

                 answerCode
Timestamp_month
01                 0.712199
02                 0.687222
03                 0.682643
04                 0.649545
05                 0.643317
06                 0.651967
07                 0.665650
08                 0.657599
09                 0.668872
10                 0.670372
11                 0.505544
12                 0.496304

In [168]:
train_data['Timestamp'].apply(lambda x : x[:4]).unique()

array(['2020', '2019'], dtype=object)

In [178]:
time_df = train_data.copy()

In [179]:
time_df['day'] = time_df['Timestamp'].str[:8]

In [199]:
time_df['day']

0          20200324
1          20200324
2          20200324
3          20200324
4          20200324
             ...
2266581    20200605
2266582    20200821
2266583    20200821
2266584    20200821
2266585    20200821
Name: day, Length: 2266586, dtype: object

In [200]:
time_df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,assessment_2,test_2_7,Timestamp_month,shift,past_correct,testId_2,day
0,0,A060001001,A060000001,1,20200324001711,7224,6,6001,03,0.0,0.0,6,20200324
1,0,A060001002,A060000001,1,20200324001714,7225,6,6001,03,1.0,1.0,6,20200324
2,0,A060001003,A060000001,1,20200324001722,7225,6,6001,03,1.0,2.0,6,20200324
3,0,A060001004,A060000001,1,20200324001729,7225,6,6001,03,1.0,3.0,6,20200324
4,0,A060001005,A060000001,1,20200324001736,7225,6,6001,03,1.0,4.0,6,20200324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,20200605065021,438,3,3071,06,0.0,1.0,3,20200605
2266582,7441,A040165001,A040000165,1,20200821010639,8836,4,4165,08,0.0,1.0,4,20200821
2266583,7441,A040165002,A040000165,1,20200821010650,8836,4,4165,08,1.0,2.0,4,20200821
2266584,7441,A040165003,A040000165,1,20200821010736,8836,4,4165,08,1.0,3.0,4,20200821
2266585,7441,A040165004,A040000165,1,20200821010849,8836,4,4165,08,1.0,4.0,4,20200821

In [215]:
time_df['Timestamp'] = time_df['Timestamp'].astype('int')

In [251]:
time_df['diff'] = time_df['Timestamp'].shift(-1) - time_df['Timestamp']

In [240]:
(time_df['diff'] < 0).sum()

6648

In [252]:
def time_zero(value):
    if value < 0:
        return 0
    if value > 3600:
        return 3600
    else:
        return value

In [253]:
time_df['diff'] = time_df['diff'].apply(time_zero)

In [264]:
time_df[time_df['diff'] < 10 ].groupby('diff')['answerCode'].mean()
#한 푼 시간 4초 까지는 찍은 점수 취급 가능
#단 0초의 경우 푼 시간 측정 할 때 0초 보다 낮은 값을 0초로 주어 주의 필요
#0초보다 낮은 값은 문항의 평균 시간으로 줘도 괜찮을듯

diff
0.0    0.460394
1.0    0.254947
2.0    0.238749
3.0    0.258542
4.0    0.289358
5.0    0.371769
6.0    0.480111
7.0    0.579067
8.0    0.642580
9.0    0.690276
Name: answerCode, dtype: float64

In [193]:
a = time_df.groupby(['userID','day'])['Timestamp']

In [266]:
# 하루동안 푼 문제 수
cnt = 0
for i in a:
    print(i)
    cnt += 1
    if cnt == 3:
        break
        
#평균 하루에 5~7문항 품 
# 하루에 한 문제지를 풀었다고 볼 수 있음

((0, '20200324'), 0    20200324001711
1    20200324001714
2    20200324001722
3    20200324001729
4    20200324001736
5    20200324001747
Name: Timestamp, dtype: object)
((0, '20200326'), 6     20200326055203
7     20200326055210
8     20200326055314
9     20200326055329
10    20200326055348
11    20200326055355
12    20200326055411
Name: Timestamp, dtype: object)
((0, '20200331'), 13    20200331050252
14    20200331050304
15    20200331050311
16    20200331050326
17    20200331050336
18    20200331050514
19    20200331050548
Name: Timestamp, dtype: object)

In [ ]:
time_df['diff'] = time_df['num'].shift(-1) - df['num']

In [49]:
len(train_data['KnowledgeTag'].unique())

912

In [169]:
train_data.groupby('KnowledgeTag')['answerCode'].mean().sort_values()

KnowledgeTag
8911     0.188940
10332    0.250000
9125     0.257009
10590    0.268139
5763     0.278027
           ...
1580     0.941896
1582     0.949280
1577     0.950461
7224     0.955022
1878     0.977778
Name: answerCode, Length: 912, dtype: float64