In [3]:
import pandas as pd
import os
import random
from datetime import datetime as dt

In [5]:
data_dir = '/opt/ml/input/data' # 경로는 상황에 맞춰서 수정해주세요!
csv_file_path = os.path.join(data_dir, 'train_data.csv') # 데이터는 대회홈페이지에서 받아주세요 :)
df = pd.read_csv(csv_file_path)
df['Timestamp'] = df['Timestamp'].apply(lambda x: dt.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [6]:
print("-------------------DKT_information--------------------")
print(f"row 수 : {df.shape[0]}")
print(f"유저 수 : {df['userID'].nunique()}")
print(f"문제 수 : {df['assessmentItemID'].nunique()}")
print(f"문제지 수 : {df['testId'].nunique()}")
print(f"태그 수 : {df['KnowledgeTag'].nunique()}")
print(f"유저-문제 상호작용 수 :{df[['userID','assessmentItemID','testId']].drop_duplicates().shape}")
print(f"희소율 : { (1 - round(df[['userID','assessmentItemID','testId']].drop_duplicates().shape[0] / (df['userID'].nunique()*df['assessmentItemID'].nunique()),4))*100}%")
print("------------------------------------------------------")

-------------------DKT_information--------------------
row 수 : 2266586
유저 수 : 6698
문제 수 : 9454
문제지 수 : 1537
태그 수 : 912
유저-문제 상호작용 수 :(2220633, 3)
희소율 : 96.49%
------------------------------------------------------

In [66]:
df.head(2)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,month,category_2
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,3,6
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,3,6

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266586 entries, 0 to 2266585
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   userID            int64
 1   assessmentItemID  object
 2   testId            object
 3   answerCode        int64
 4   Timestamp         object
 5   KnowledgeTag      int64
dtypes: int64(3), object(3)
memory usage: 103.8+ MB

In [70]:
df_070 = df[df['assessmentItemID'].str[1:4]=='070']

In [78]:
df_070['47'] = df_070['assessmentItemID'].str[4:7]

/tmp/ipykernel_11695/200517804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_070['47'] = df_070['assessmentItemID'].str[4:7]

In [98]:
t = df_070.groupby('47')['answerCode']
pd.DataFrame({'mean':t.mean(),'cnt':t.count()}).reset_index().sort_values(by='mean')

      47      mean   cnt
74   075  0.352535  1302
38   039  0.359690  1290
58   059  0.370031  1308
140  141  0.374434  1768
62   063  0.384793  1302
..   ...       ...   ...
136  137  0.696483  1308
27   028  0.708889  1350
37   038  0.719419  1308
95   096  0.728379  1561
119  120  0.729167  1776

[164 rows x 3 columns]

In [48]:
df['Timestamp'].dt.month.value_counts()

9     339265
10    327226
8     316115
7     270597
6     227481
5     183816
4     176953
3     174482
2      79478
11     71695
12     62091
1      37387
Name: Timestamp, dtype: int64

In [50]:
df['month'] = df['Timestamp'].dt.month

In [55]:
df.groupby('month')['answerCode'].mean().sort_values()
# 월별로 다른 이유는 수가 너무 적기 때문?

month
12    0.496304
11    0.505544
5     0.643317
4     0.649545
6     0.651967
8     0.657599
7     0.665650
9     0.668872
10    0.670372
3     0.682643
2     0.687222
1     0.712199
Name: answerCode, dtype: float64

In [58]:
df['category_2'] = df['assessmentItemID'].str[2]
temp = df.groupby('category_2')['answerCode']
pd.DataFrame({'mean':temp.mean(),'cnt':temp.count()}).reset_index().sort_values('mean')

  category_2      mean     cnt
8          9  0.449948  119385
7          8  0.502598  246336
6          7  0.521876  279164
4          5  0.658208  275773
3          4  0.684056  267323
2          3  0.702238  273762
5          6  0.709232  264434
1          2  0.737593  268327
0          1  0.800876  272082

In [26]:
df

         userID assessmentItemID  answerCode           Timestamp  KnowledgeTag
0             0       A060001001           1 2020-03-24 00:17:11          7224
1             0       A060001002           1 2020-03-24 00:17:14          7225
2             0       A060001003           1 2020-03-24 00:17:22          7225
3             0       A060001004           1 2020-03-24 00:17:29          7225
4             0       A060001005           1 2020-03-24 00:17:36          7225
...         ...              ...         ...                 ...           ...
2266581    7441       A030071005           0 2020-06-05 06:50:21           438
2266582    7441       A040165001           1 2020-08-21 01:06:39          8836
2266583    7441       A040165002           1 2020-08-21 01:06:50          8836
2266584    7441       A040165003           1 2020-08-21 01:07:36          8836
2266585    7441       A040165004           1 2020-08-21 01:08:49          8836

[2266586 rows x 5 columns]

## 대,중,소 분류로 나누고 시작

In [23]:
df.drop('testId',axis=1,inplace=True) # TestID 날림.

In [29]:
df[:2]

,userID,assessmentItemID,answerCode,Timestamp,KnowledgeTag,1,2,3
0,0,A060001001,1,2020-03-24 00:17:11,7224,060,001,001
1,0,A060001002,1,2020-03-24 00:17:14,7225,060,001,002

In [63]:
a = df[['assessmentItemID']].drop_duplicates()

In [65]:
a['1'] = a['assessmentItemID'].str[1:4]
a['2'] = a['assessmentItemID'].str[4:7]
a['3'] = a['assessmentItemID'].str[7:10]

## 대분류(1-4)

In [80]:
a[['1','2']].drop_duplicates().groupby('1')['2'].count().sort_values() # 대분류당 문제지 수

1
090     74
080    138
070    164
060    186
010    192
050    193
020    194
030    198
040    198
Name: 2, dtype: int64

In [81]:
a[['1','2','3']].drop_duplicates().groupby('1')['3'].count().sort_values() # 대분류당 문제 수

1
090     515
010     975
020    1022
040    1031
080    1050
030    1060
060    1213
050    1266
070    1322
Name: 3, dtype: int64

In [84]:
df['assessmentItemID'].str[1:4].value_counts() # 대분류당 유저가 푼 문제 수

070    279164
050    275773
030    273762
010    272082
020    268327
040    267323
060    264434
080    246336
090    119385
Name: assessmentItemID, dtype: int64

### 090만 문제지 수와 문제 수가 적은 것 빼곤 특이사항 없음.

In [85]:
df.groupby('1')['answerCode'].mean().sort_values(ascending=False)

1
010    0.800876
020    0.737593
060    0.709232
030    0.702238
040    0.684056
050    0.658208
070    0.521876
080    0.502598
090    0.449948
Name: answerCode, dtype: float64

### 060을 제외하고는 점점 정답률이 낮아지므로 난이도로 생각할 수 있다.

## 중분류(4~7)

In [38]:
pd.set_option('display.max_row', 200)

In [86]:
df[:2]

,userID,assessmentItemID,answerCode,Timestamp,KnowledgeTag,1,2,3
0,0,A060001001,1,2020-03-24 00:17:11,7224,060,001,001
1,0,A060001002,1,2020-03-24 00:17:14,7225,060,001,002

In [106]:
a.groupby('2')['3'].count() # 중분류별 문제 개수

2
001    56
002    57
003    58
004    58
005    57
006    57
007    59
008    58
009    60
010    60
011    58
012    57
013    56
014    54
015    56
016    59
017    64
018    65
019    56
020    55
021    54
022    56
023    56
024    57
025    59
026    51
027    54
028    51
029    55
030    52
031    55
032    56
033    61
034    59
035    60
036    60
037    56
038    54
039    60
040    54
041    52
042    52
043    61
044    64
045    56
046    56
047    58
048    57
049    56
050    56
051    57
052    59
053    52
054    53
055    57
056    59
057    64
058    62
059    55
060    55
061    57
062    58
063    54
064    51
065    55
066    56
067    60
068    62
069    54
070    60
071    57
072    55
073    56
074    56
075    47
076    47
077    49
078    49
079    52
080    49
081    47
082    46
083    49
084    48
085    47
086    53
087    52
088    52
089    49
090    53
091    51
092    51
093    45
094    50
095    45
096    49
097    48
098    49
099    51
100    50
101    51
102    49
103    52
104    52
105    52
106    51
107    53
108    52
109    52
110    50
111    50
112    49
113    48
114    50
115    49
116    46
117    48
118    48
119    47
120    45
121    46
122    44
123    49
124    49
125    48
126    50
127    54
128    54
129    48
130    51
131    52
132    51
133    50
134    53
135    50
136    50
137    51
138    48
139    43
140    42
141    45
142    40
143    46
144    40
145    41
146    40
147    39
148    40
149    42
150    42
151    43
152    43
153    44
154    43
155    40
156    44
157    44
158    45
159    42
160    40
161    48
162    41
163    41
164    41
165    33
166    28
167    34
168    33
169    35
170    37
171    32
172    36
173    33
174    35
175    32
176    27
177    33
178    27
179    32
180    35
181    34
182    33
183    33
184    39
185    34
186    30
187    32
188    25
189    24
190    28
191    23
192    28
193    26
194    16
195    17
196     9
197    11
198     9
Name: 3, dtype: int64

In [122]:
df['assessmentItemID'].str[4:7].value_counts().sort_values(ascending=False) # 중분류별 실제 유저들이 푼 개수

017    17739
009    17555
011    17029
003    16970
007    16826
018    16698
013    16517
015    16436
005    16325
057    16233
019    16050
025    15985
033    15806
047    15511
016    15448
023    15391
034    15081
049    14999
045    14952
055    14920
029    14920
001    14911
027    14851
032    14759
044    14758
021    14751
051    14674
128    14509
127    14473
043    14307
107    14301
031    14284
022    14241
067    14226
024    14127
026    14108
131    14068
109    14032
028    13966
103    13938
087    13936
061    13929
105    13898
014    13869
079    13838
059    13832
030    13792
058    13716
099    13710
071    13698
063    13672
073    13671
101    13662
091    13654
052    13634
020    13603
036    13594
065    13523
039    13469
069    13465
111    13442
135    13381
053    13258
124    13199
115    13180
048    13176
126    13131
123    13127
056    13119
035    13116
133    13115
083    13114
113    13080
077    13067
137    13008
117    12999
097    12943
125    12919
046    12847
089    12839
037    12829
130    12801
129    12697
008    12666
075    12653
119    12619
062    12610
050    12547
121    12528
085    12482
081    12473
010    12420
002    12390
004    12332
060    12332
086    12298
095    12292
068    12243
136    12209
090    12149
038    12113
040    12056
006    11991
093    11969
012    11827
122    11798
054    11759
070    11722
138    11668
041    11610
104    11480
088    11457
161    11449
042    11449
143    11442
108    11370
141    11255
094    11243
066    11234
106    11228
080    11205
074    11174
157    11165
092    11099
078    11054
100    10994
072    10988
153    10913
151    10891
134    10881
114    10840
110    10808
102    10802
139    10799
098    10725
096    10696
159    10683
112    10650
082    10619
149    10573
118    10506
084    10458
064    10431
145    10338
155    10200
076    10191
116    10190
120    10162
163    10038
132     9937
147     9828
152     9762
140     9541
156     9435
154     9202
142     8755
158     8688
146     8579
144     8530
184     8520
150     8395
148     8369
162     8165
170     7573
165     7546
167     7521
164     7454
160     7331
169     7328
172     7326
174     7085
171     7048
181     7040
190     6913
175     6903
177     6731
183     6655
185     6619
173     6613
192     6477
179     6451
187     6385
186     6234
193     6173
168     6020
182     5909
166     5564
188     5517
191     5261
195     4417
176     4363
189     4345
178     3824
180     3767
197     2973
194     2596
196     1304
198      951
Name: assessmentItemID, dtype: int64

In [98]:
def classify_2(x):
    x = int(x)
    if x<20: return 1
    elif x<40: return 2
    elif x<60: return 3
    elif x<80: return 4
    elif x<100: return 5
    elif x<120: return 6
    elif x<140: return 7
    elif x<160: return 8
    elif x<180: return 9
    elif x<200: return 10

In [99]:
df['2-2'] = df['2'].apply(lambda x: classify_2(x))

In [103]:
df.groupby('2-2')[['answerCode']].mean() # 왜 초반이 더 정답률이 낮은가...

     answerCode
2-2
1      0.648943
2      0.631313
3      0.589522
4      0.642333
5      0.667013
6      0.657941
7      0.653556
8      0.697462
9      0.691842
10     0.770101

## 소분류(7~10)

In [121]:
a['3'].value_counts() # 03을 제외하고 문제수가 줄어든다.

003    1532
001    1531
002    1525
004    1525
005    1482
006     859
007     574
008     298
009      80
010      22
011      14
012      11
013       1
Name: 3, dtype: int64

In [177]:
df.groupby('3')['answerCode'].count()

3
001    371755
002    370972
003    371640
004    369705
005    360607
006    197772
007    127121
008     67150
009     18417
010      5342
011      3352
012      2484
013       269
Name: answerCode, dtype: int64

In [120]:
df.groupby('3')['answerCode'].mean() # 뒷 문제일수록 난이도가 높다.

3
001    0.749916
002    0.720062
003    0.687773
004    0.663364
005    0.599134
006    0.555685
007    0.515399
008    0.457156
009    0.481729
010    0.527892
011    0.480609
012    0.370370
013    0.200743
Name: answerCode, dtype: float64

## 태그

In [164]:
b = df[['assessmentItemID','KnowledgeTag']].drop_duplicates()

In [170]:
b.groupby('KnowledgeTag').count().sort_values(by='assessmentItemID').describe()

       assessmentItemID
count        912.000000
mean          10.366228
std            6.622292
min            1.000000
25%            5.000000
50%           10.000000
75%           16.000000
max           41.000000

In [135]:
df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()

KnowledgeTag
8911     0.188940
10332    0.250000
9125     0.257009
10590    0.268139
5763     0.278027
           ...
1580     0.941896
1582     0.949280
1577     0.950461
7224     0.955022
1878     0.977778
Name: answerCode, Length: 912, dtype: float64

In [157]:
sum(df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()[:100].index.tolist())//100

/tmp/ipykernel_11771/4229000699.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  sum(df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()[:100].index.tolist())//100

6251

In [159]:
sum(df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()[400:500].index.tolist())//100

/tmp/ipykernel_11771/2913438581.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  sum(df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()[400:500].index.tolist())//100

4330

In [158]:
sum(df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()[-100:].index.tolist())//100

/tmp/ipykernel_11771/1508012080.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  sum(df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()[-100:].index.tolist())//100

5535

In [145]:
df.groupby('KnowledgeTag')['answerCode'].count().sort_values() # 태그별 문제 수

KnowledgeTag
2613       44
7125       45
2871       46
4978       46
5142       47
        ...
8127     9006
7621     9709
2010    10176
7600    10734
7597    12892
Name: answerCode, Length: 912, dtype: int64

In [143]:
df.groupby('KnowledgeTag')['answerCode'].mean().sort_values().index

Int64Index([ 8911, 10332,  9125, 10590,  5763,  9167,  2725,  8897,  9498,
             4964,
            ...
             2129,  5844,  1465,  6806,  5846,  1580,  1582,  1577,  7224,
             1878],
           dtype='int64', name='KnowledgeTag', length=912)

In [140]:
df.groupby('KnowledgeTag')['answerCode'].mean().sort_values()

KnowledgeTag
8911     0.188940
10332    0.250000
9125     0.257009
10590    0.268139
5763     0.278027
           ...
1580     0.941896
1582     0.949280
1577     0.950461
7224     0.955022
1878     0.977778
Name: answerCode, Length: 912, dtype: float64

In [260]:
df.groupby('assessmentItemID')['answerCode'].mean()

assessmentItemID
A010001001    0.930599
A010001002    0.958991
A010001003    0.905363
A010001004    0.949527
A010001005    0.886435
                ...
A090074002    0.444444
A090074003    0.577778
A090074004    0.333333
A090074005    0.400000
A090074006    0.466667
Name: answerCode, Length: 9454, dtype: float64

### 결론 : 대분류, 소분류, 태그는 컬럼으로 충분히 넣어줄 법하다. 하지만 태그는 정리가 가능하다면 좋을듯

In [183]:
df[df[['userID','assessmentItemID']].duplicated()]

,userID,assessmentItemID,answerCode,Timestamp,KnowledgeTag,1,2,3,2-2
1397,1,A040155001,1,2020-08-17 09:56:27,2111,040,155,001,8
1398,1,A040155002,1,2020-08-17 09:57:06,2111,040,155,002,8
1399,1,A040155003,1,2020-08-17 09:58:03,2111,040,155,003,8
1400,1,A040155004,1,2020-08-17 09:58:29,2111,040,155,004,8
1401,1,A040155005,0,2020-08-17 09:59:40,2111,040,155,005,8
...,...,...,...,...,...,...,...,...,...
2257570,6977,A040167005,0,2020-10-26 13:58:52,2116,040,167,005,9
2264863,7329,A040198001,1,2020-10-12 12:08:49,2133,040,198,001,10
2264864,7329,A040198002,1,2020-10-12 12:08:53,2133,040,198,002,10
2264865,7329,A040198003,1,2020-10-12 12:09:02,2133,040,198,003,10
2264866,7329,A040198004,1,2020-10-12 12:09:08,2133,040,198,004,10

In [184]:
data_dir = '/opt/ml/input/data'
path1 = os.path.join(data_dir, "train_data.csv")
path2 = os.path.join(data_dir, "test_data.csv")
data1 = pd.read_csv(path1)
data2 = pd.read_csv(path2)

data = pd.concat([data1, data2])
data.drop_duplicates(
    subset=["userID", "assessmentItemID"], keep="last", inplace=True
)

In [186]:
train_data = data[data.answerCode >= 0]
test_data = data[data.answerCode < 0]

In [188]:
userid, itemid = (
    sorted(list(set(data.userID))),
    sorted(list(set(data.assessmentItemID))),
)
n_user, n_item = len(userid), len(itemid)

userid_2_index = {v: i for i, v in enumerate(userid)}
itemid_2_index = {v: i + n_user for i, v in enumerate(itemid)} # 왜 i + n_user?
id_2_index = dict(userid_2_index, **itemid_2_index) # 딕셔너리 합침

In [214]:
data[:2]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225

In [215]:
edge, label = [], []
for user, item, acode in zip(data.userID, data.assessmentItemID, data.answerCode):
    uid, iid = id_2_index[user], id_2_index[item]
    edge.append([uid, iid])
    label.append(acode)

edge = torch.LongTensor(edge).T
label = torch.LongTensor(label)

#dict(edge=edge.to(device), label=label.to(device))

NameError: name 'torch' is not defined

In [217]:
# edge

In [253]:
    data['main'] = data['assessmentItemID'].str[2]
    data['middle'] = data['assessmentItemID'].str[3:7]
    data['sub1'] = data['assessmentItemID'].str[7:10]

In [254]:
    mainid, middleid, subid = (
        sorted(list(set(data.main))),
        sorted(list(set(data.middle))),
        sorted(list(set(data.sub1)))
    )

In [255]:
n_mainid, n_middleid, n_subid = len(mainid), len(middleid), len(sub)

In [256]:
    main_2_index = {v: i for i, v in enumerate(mainid)}
    middle_2_index = {v: i + n_mainid for i, v in enumerate(middleid)}
    sub_2_index = {v: i + n_mainid + n_middleid for i, v in enumerate(subid)}

In [257]:
id_2_index = dict(main_2_index,**middle_2_index, **sub_2_index)

In [258]:
# id_2_index

{'1': 0,
 '2': 1,
 '3': 2,
 '4': 3,
 '5': 4,
 '6': 5,
 '7': 6,
 '8': 7,
 '9': 8,
 '0001': 9,
 '0002': 10,
 '0003': 11,
 '0004': 12,
 '0005': 13,
 '0006': 14,
 '0007': 15,
 '0008': 16,
 '0009': 17,
 '0010': 18,
 '0011': 19,
 '0012': 20,
 '0013': 21,
 '0014': 22,
 '0015': 23,
 '0016': 24,
 '0017': 25,
 '0018': 26,
 '0019': 27,
 '0020': 28,
 '0021': 29,
 '0022': 30,
 '0023': 31,
 '0024': 32,
 '0025': 33,
 '0026': 34,
 '0027': 35,
 '0028': 36,
 '0029': 37,
 '0030': 38,
 '0031': 39,
 '0032': 40,
 '0033': 41,
 '0034': 42,
 '0035': 43,
 '0036': 44,
 '0037': 45,
 '0038': 46,
 '0039': 47,
 '0040': 48,
 '0041': 49,
 '0042': 50,
 '0043': 51,
 '0044': 52,
 '0045': 53,
 '0046': 54,
 '0047': 55,
 '0048': 56,
 '0049': 57,
 '0050': 58,
 '0051': 59,
 '0052': 60,
 '0053': 61,
 '0054': 62,
 '0055': 63,
 '0056': 64,
 '0057': 65,
 '0058': 66,
 '0059': 67,
 '0060': 68,
 '0061': 69,
 '0062': 70,
 '0063': 71,
 '0064': 72,
 '0065': 73,
 '0066': 74,
 '0067': 75,
 '0068': 76,
 '0069': 77,
 '0070': 78,
 '0071': 79,
 '0072': 80,
 '0073': 81,
 '0074': 82,
 '0075': 83,
 '0076': 84,
 '0077': 85,
 '0078': 86,
 '0079': 87,
 '0080': 88,
 '0081': 89,
 '0082': 90,
 '0083': 91,
 '0084': 92,
 '0085': 93,
 '0086': 94,
 '0087': 95,
 '0088': 96,
 '0089': 97,
 '0090': 98,
 '0091': 99,
 '0092': 100,
 '0093': 101,
 '0094': 102,
 '0095': 103,
 '0096': 104,
 '0097': 105,
 '0098': 106,
 '0099': 107,
 '0100': 108,
 '0101': 109,
 '0102': 110,
 '0103': 111,
 '0104': 112,
 '0105': 113,
 '0106': 114,
 '0107': 115,
 '0108': 116,
 '0109': 117,
 '0110': 118,
 '0111': 119,
 '0112': 120,
 '0113': 121,
 '0114': 122,
 '0115': 123,
 '0116': 124,
 '0117': 125,
 '0118': 126,
 '0119': 127,
 '0120': 128,
 '0121': 129,
 '0122': 130,
 '0123': 131,
 '0124': 132,
 '0125': 133,
 '0126': 134,
 '0127': 135,
 '0128': 136,
 '0129': 137,
 '0130': 138,
 '0131': 139,
 '0132': 140,
 '0133': 141,
 '0134': 142,
 '0135': 143,
 '0136': 144,
 '0137': 145,
 '0138': 146,
 '0139': 147,
 '0140': 148,
 '0141': 149,
 '0142': 150,
 '0143': 151,
 '0144': 152,
 '0145': 153,
 '0146': 154,
 '0147': 155,
 '0148': 156,
 '0149': 157,
 '0150': 158,
 '0151': 159,
 '0152': 160,
 '0153': 161,
 '0154': 162,
 '0155': 163,
 '0156': 164,
 '0157': 165,
 '0158': 166,
 '0159': 167,
 '0160': 168,
 '0161': 169,
 '0162': 170,
 '0163': 171,
 '0164': 172,
 '0165': 173,
 '0166': 174,
 '0167': 175,
 '0168': 176,
 '0169': 177,
 '0170': 178,
 '0171': 179,
 '0172': 180,
 '0173': 181,
 '0174': 182,
 '0175': 183,
 '0176': 184,
 '0177': 185,
 '0178': 186,
 '0179': 187,
 '0180': 188,
 '0181': 189,
 '0182': 190,
 '0183': 191,
 '0184': 192,
 '0185': 193,
 '0186': 194,
 '0187': 195,
 '0188': 196,
 '0189': 197,
 '0190': 198,
 '0191': 199,
 '0192': 200,
 '0193': 201,
 '0194': 202,
 '0195': 203,
 '0196': 204,
 '0197': 205,
 '0198': 206,
 '001': 207,
 '002': 208,
 '003': 209,
 '004': 210,
 '005': 211,
 '006': 212,
 '007': 213,
 '008': 214,
 '009': 215,
 '010': 216,
 '011': 217,
 '012': 218,
 '013': 219}

In [227]:
data.sub1

0         001
1         002
2         003
3         004
4         005
         ...
260109    001
260110    002
260111    003
260112    004
260113    005
Name: sub1, Length: 2476706, dtype: object

In [232]:
    userid, itemid = (
        sorted(list(set(data.userID))),
        sorted(list(set(data.assessmentItemID))),
    )
    
    mainid, middleid, subid = (
        sorted(list(set(data.main))),
        sorted(list(set(data.middle))),
        sorted(list(set(data.sub1)))
    )
    
    
    n_user, n_item = len(userid), len(itemid)
    n_mainid, n_middleid, n_subid = len(mainid), len(middleid), len(subid)

    userid_2_index = {v: i for i, v in enumerate(userid)}
    itemid_2_index = {v: i + n_user for i, v in enumerate(itemid)}
    
    main_2_index = {v: i + n_user + n_item for i, v in enumerate(mainid)}
    # middle_2_index = {v: i + n_user + n_item for i, v in enumerate(middleid)}
    sub_2_index = {v: i + n_user + n_item + n_mainid for i, v in enumerate(subid)}
    
    id_2_index = dict(userid_2_index, **itemid_2_index, **main_2_index, **sub_2_index)

In [234]:
len(id_2_index)

16918

In [237]:
import torch

In [244]:
    edge, label = [], []
    for user, item, acode, main, sub in zip(data.userID, data.assessmentItemID, data.answerCode, data.main, data.sub1):
        uid, iid = id_2_index[user], id_2_index[item]
        mainid = id_2_index[main]
        subid = id_2_index[sub]
        
        edge.append([uid, iid,mainid,subid])
        # edge.append([mainid,subid])
        label.append(acode)

In [238]:
    edge = torch.LongTensor(edge).T
    label = torch.LongTensor(label)

    # return dict(edge=edge.to(device), label=label.to(device))

In [245]:
edge

[[0, 12796, 16901, 16905],
 [0, 12797, 16901, 16906],
 [0, 12798, 16901, 16907],
 [0, 12799, 16901, 16908],
 [0, 12800, 16901, 16909],
 [0, 12801, 16901, 16911],
 [0, 12809, 16901, 16905],
 [0, 12810, 16901, 16906],
 [0, 12811, 16901, 16907],
 [0, 12812, 16901, 16908],
 [0, 12813, 16901, 16909],
 [0, 12814, 16901, 16910],
 [0, 12815, 16901, 16911],
 [0, 12823, 16901, 16905],
 [0, 12824, 16901, 16906],
 [0, 12825, 16901, 16907],
 [0, 12826, 16901, 16908],
 [0, 12827, 16901, 16909],
 [0, 12828, 16901, 16910],
 [0, 12829, 16901, 16911],
 [0, 12837, 16901, 16905],
 [0, 12838, 16901, 16906],
 [0, 12839, 16901, 16907],
 [0, 12840, 16901, 16908],
 [0, 12841, 16901, 16909],
 [0, 12842, 16901, 16910],
 [0, 12843, 16901, 16911],
 [0, 15337, 16903, 16905],
 [0, 15338, 16903, 16906],
 [0, 15339, 16903, 16907],
 [0, 15340, 16903, 16908],
 [0, 15341, 16903, 16909],
 [0, 15342, 16903, 16910],
 [0, 12851, 16901, 16905],
 [0, 12852, 16901, 16906],
 [0, 12853, 16901, 16907],
 [0, 12854, 16901, 16908],
 [0, 12855, 16901, 16909],
 [0, 12856, 16901, 16910],
 [0, 12857, 16901, 16911],
 [0, 12893, 16901, 16905],
 [0, 12894, 16901, 16906],
 [0, 12895, 16901, 16907],
 [0, 12896, 16901, 16908],
 [0, 12897, 16901, 16909],
 [0, 12898, 16901, 16910],
 [0, 12899, 16901, 16911],
 [0, 15351, 16903, 16905],
 [0, 15352, 16903, 16906],
 [0, 15353, 16903, 16907],
 [0, 15354, 16903, 16908],
 [0, 15355, 16903, 16909],
 [0, 15356, 16903, 16910],
 [0, 15358, 16903, 16912],
 [0, 15357, 16903, 16911],
 [0, 15367, 16903, 16905],
 [0, 15368, 16903, 16906],
 [0, 15369, 16903, 16907],
 [0, 15370, 16903, 16908],
 [0, 15371, 16903, 16909],
 [0, 15372, 16903, 16910],
 [0, 15373, 16903, 16911],
 [0, 15374, 16903, 16912],
 [0, 12907, 16901, 16905],
 [0, 12908, 16901, 16906],
 [0, 12909, 16901, 16907],
 [0, 12910, 16901, 16908],
 [0, 12911, 16901, 16909],
 [0, 12912, 16901, 16910],
 [0, 12913, 16901, 16911],
 [0, 12921, 16901, 16905],
 [0, 12922, 16901, 16906],
 [0, 12923, 16901, 16907],
 [0, 12924, 16901, 16908],
 [0, 12925, 16901, 16909],
 [0, 12926, 16901, 16910],
 [0, 12927, 16901, 16911],
 [0, 15390, 16903, 16912],
 [0, 15383, 16903, 16905],
 [0, 15384, 16903, 16906],
 [0, 15385, 16903, 16907],
 [0, 15386, 16903, 16908],
 [0, 15387, 16903, 16909],
 [0, 15388, 16903, 16910],
 [0, 15389, 16903, 16911],
 [0, 15399, 16903, 16905],
 [0, 15400, 16903, 16906],
 [0, 15401, 16903, 16907],
 [0, 15402, 16903, 16908],
 [0, 15403, 16903, 16909],
 [0, 15404, 16903, 16910],
 [0, 15405, 16903, 16911],
 [0, 15406, 16903, 16912],
 [0, 12935, 16901, 16905],
 [0, 12936, 16901, 16906],
 [0, 12937, 16901, 16907],
 [0, 12938, 16901, 16908],
 [0, 12939, 16901, 16909],
 [0, 12940, 16901, 16910],
 [0, 12941, 16901, 16911],
 [0, 15415, 16903, 16905],
 [0, 15416, 16903, 16906],
 [0, 15417, 16903, 16907],
 [0, 15422, 16903, 16912],
 [0, 15418, 16903, 16908],
 [0, 15419, 16903, 16909],
 [0, 15420, 16903, 16910],
 [0, 15421, 16903, 16911],
 [0, 15431, 16903, 16905],
 [0, 15432, 16903, 16906],
 [0, 15433, 16903, 16907],
 [0, 15434, 16903, 16908],
 [0, 15435, 16903, 16909],
 [0, 15438, 16903, 16912],
 [0, 15436, 16903, 16910],
 [0, 15437, 16903, 16911],
 [0, 15447, 16903, 16905],
 [0, 15448, 16903, 16906],
 [0, 15450, 16903, 16908],
 [0, 15449, 16903, 16907],
 [0, 15451, 16903, 16909],
 [0, 15452, 16903, 16910],
 [0, 15453, 16903, 16911],
 [0, 15454, 16903, 16912],
 [0, 12949, 16901, 16905],
 [0, 12950, 16901, 16906],
 [0, 12951, 16901, 16907],
 [0, 12952, 16901, 16908],
 [0, 12953, 16901, 16909],
 [0, 12954, 16901, 16910],
 [0, 12955, 16901, 16911],
 [0, 15463, 16903, 16905],
 [0, 15464, 16903, 16906],
 [0, 15465, 16903, 16907],
 [0, 15466, 16903, 16908],
 [0, 15468, 16903, 16910],
 [0, 15467, 16903, 16909],
 [0, 15469, 16903, 16911],
 [0, 15470, 16903, 16912],
 [0, 15486, 16903, 16912],
 [0, 15479, 16903, 16905],
 [0, 15480, 16903, 16906],
 [0, 15481, 16903, 16907],
 [0, 15482, 16903, 16908],
 [0, 15483, 16903, 16909],
 [0, 15485, 16903, 16911],
 [0, 15484, 16903, 16910],
 [0, 12985, 16901, 16905],
 [0, 12986, 16901, 16906],
 [0, 12987, 16901, 16907],
 [0, 12988, 16901, 16908],
 [0, 12989, 16901, 16909],
 [0, 12990, 16901, 16910],
 [0, 12991, 16901, 16911],
 [0, 12999, 16901, 16905],
 [0, 13000, 16901, 16906],
 [0, 13001, 16901, 16907],
 [0, 13002, 16901, 16908],
 [0, 13003, 16901, 16909],
 [0, 13004, 16901, 16910],
 [0, 13005, 16901, 16911],
 [0, 13013, 16901, 16905],
 [0, 13014, 16901, 16906],
 [0, 13015, 16901, 16907],
 [0, 13016, 16901, 16908],
 [0, 13017, 16901, 16909],
 [0, 13018, 16901, 16910],
 [0, 13019, 16901, 16911],
 [0, 13027, 16901, 16905],
 [0, 13028, 16901, 16906],
 [0, 13029, 16901, 16907],
 [0, 13030, 16901, 16908],
 [0, 13031, 16901, 16909],
 [0, 13032, 16901, 16910],
 [0, 13033, 16901, 16911],
 [0, 15493, 16903, 16905],
 [0, 15494, 16903, 16906],
 [0, 15495, 16903, 16907],
 [0, 15496, 16903, 16908],
 [0, 15498, 16903, 16910],
 [0, 15497, 16903, 16909],
 [0, 13041, 16901, 16905],
 [0, 13042, 16901, 16906],
 [0, 13043, 16901, 16907],
 [0, 13044, 16901, 16908],
 [0, 13045, 16901, 16909],
 [0, 13046, 16901, 16910],
 [0, 13047, 16901, 16911],
 [0, 15505, 16903, 16905],
 [0, 15506, 16903, 16906],
 [0, 15507, 16903, 16907],
 [0, 15508, 16903, 16908],
 [0, 15509, 16903, 16909],
 [0, 15510, 16903, 16910],
 [0, 13055, 16901, 16905],
 [0, 13056, 16901, 16906],
 [0, 13057, 16901, 16907],
 [0, 13058, 16901, 16908],
 [0, 13059, 16901, 16909],
 [0, 13060, 16901, 16910],
 [0, 13061, 16901, 16911],
 [0, 15587, 16903, 16905],
 [0, 15588, 16903, 16906],
 [0, 15589, 16903, 16907],
 [0, 15590, 16903, 16908],
 [0, 15591, 16903, 16909],
 [0, 15592, 16903, 16910],
 [0, 15593, 16903, 16911],
 [0, 15594, 16903, 16912],
 [0, 13069, 16901, 16905],
 [0, 13070, 16901, 16906],
 [0, 13071, 16901, 16907],
 [0, 13072, 16901, 16908],
 [0, 13073, 16901, 16909],
 [0, 13074, 16901, 16910],
 [0, 13075, 16901, 16911],
 [0, 15595, 16903, 16905],
 [0, 15596, 16903, 16906],
 [0, 15597, 16903, 16907],
 [0, 15598, 16903, 16908],
 [0, 15599, 16903, 16909],
 [0, 15600, 16903, 16910],
 [0, 15601, 16903, 16911],
 [0, 15602, 16903, 16912],
 [0, 15603, 16903, 16905],
 [0, 15604, 16903, 16906],
 [0, 15605, 16903, 16907],
 [0, 15606, 16903, 16908],
 [0, 15607, 16903, 16909],
 [0, 15608, 16903, 16910],
 [0, 15609, 16903, 16911],
 [0, 15610, 16903, 16912],
 [0, 13124, 16901, 16905],
 [0, 13125, 16901, 16906],
 [0, 13126, 16901, 16907],
 [0, 13127, 16901, 16908],
 [0, 13128, 16901, 16909],
 [0, 13129, 16901, 16910],
 [0, 13130, 16901, 16911],
 [0, 13138, 16901, 16905],
 [0, 13139, 16901, 16906],
 [0, 13140, 16901, 16907],
 [0, 13141, 16901, 16908],
 [0, 13142, 16901, 16909],
 [0, 13143, 16901, 16910],
 [0, 13144, 16901, 16911],
 [0, 15611, 16903, 16905],
 [0, 15612, 16903, 16906],
 [0, 15613, 16903, 16907],
 [0, 15614, 16903, 16908],
 [0, 15615, 16903, 16909],
 [0, 15616, 16903, 16910],
 [0, 15618, 16903, 16912],
 [0, 15617, 16903, 16911],
 [0, 13152, 16901, 16905],
 [0, 13153, 16901, 16906],
 [0, 13154, 16901, 16907],
 [0, 13155, 16901, 16908],
 [0, 13156, 16901, 16909],
 [0, 13157, 16901, 16910],
 [0, 13158, 16901, 16911],
 [0, 15619, 16903, 16905],
 [0, 15621, 16903, 16907],
 [0, 15620, 16903, 16906],
 [0, 15622, 16903, 16908],
 [0, 15624, 16903, 16910],
 [0, 15623, 16903, 16909],
 [0, 15625, 16903, 16911],
 [0, 15626, 16903, 16912],
 [0, 13166, 16901, 16905],
 [0, 13167, 16901, 16906],
 [0, 13168, 16901, 16907],
 [0, 13169, 16901, 16908],
 [0, 13170, 16901, 16909],
 [0, 13171, 16901, 16910],
 [0, 13172, 16901, 16911],
 [0, 13180, 16901, 16905],
 [0, 13181, 16901, 16906],
 [0, 13182, 16901, 16907],
 [0, 13183, 16901, 16908],
 [0, 13184, 16901, 16909],
 [0, 13185, 16901, 16910],
 [0, 13186, 16901, 16911],
 [0, 15627, 16903, 16905],
 [0, 15628, 16903, 16906],
 [0, 15629, 16903, 16907],
 [0, 15630, 16903, 16908],
 [0, 15631, 16903, 16909],
 [0, 15632, 16903, 16910],
 [0, 13194, 16901, 16905],
 [0, 13195, 16901, 16906],
 [0, 13196, 16901, 16907],
 [0, 13197, 16901, 16908],
 [0, 13198, 16901, 16909],
 [0, 13199, 16901, 16910],
 [0, 13200, 16901, 16911],
 [0, 15633, 16903, 16905],
 [0, 15634, 16903, 16906],
 [0, 15635, 16903, 16907],
 [0, 15636, 16903, 16908],
 [0, 15637, 16903, 16909],
 [0, 15638, 16903, 16910],
 [0, 15639, 16903, 16905],
 [0, 15640, 16903, 16906],
 [0, 15641, 16903, 16907],
 [0, 15642, 16903, 16908],
 [0, 15643, 16903, 16909],
 [0, 15644, 16903, 16910],
 [0, 15645, 16903, 16911],
 [0, 15646, 16903, 16912],
 [0, 13235, 16901, 16905],
 [0, 13236, 16901, 16906],
 [0, 13237, 16901, 16907],
 [0, 13238, 16901, 16908],
 [0, 13239, 16901, 16909],
 [0, 13240, 16901, 16910],
 [0, 13241, 16901, 16911],
 [0, 13249, 16901, 16905],
 [0, 13250, 16901, 16906],
 [0, 13251, 16901, 16907],
 [0, 13252, 16901, 16908],
 [0, 13253, 16901, 16909],
 [0, 13254, 16901, 16910],
 [0, 13255, 16901, 16911],
 [0, 15647, 16903, 16905],
 [0, 15648, 16903, 16906],
 [0, 15649, 16903, 16907],
 [0, 15650, 16903, 16908],
 [0, 15651, 16903, 16909],
 [0, 15652, 16903, 16910],
 [0, 15653, 16903, 16911],
 [0, 15654, 16903, 16912],
 [0, 13263, 16901, 16905],
 [0, 13264, 16901, 16906],
 [0, 13265, 16901, 16907],
 [0, 13266, 16901, 16908],
 [0, 13267, 16901, 16909],
 [0, 13268, 16901, 16910],
 [0, 13269, 16901, 16911],
 [0, 15662, 16903, 16912],
 [0, 15661, 16903, 16911],
 [0, 15660, 16903, 16910],
 [0, 15659, 16903, 16909],
 [0, 15658, 16903, 16908],
 [0, 15657, 16903, 16907],
 [0, 15655, 16903, 16905],
 [0, 15656, 16903, 16906],
 [0, 13277, 16901, 16905],
 [0, 13278, 16901, 16906],
 [0, 13279, 16901, 16907],
 [0, 13280, 16901, 16908],
 [0, 13281, 16901, 16909],
 [0, 13282, 16901, 16910],
 [0, 13283, 16901, 16911],
 [0, 13291, 16901, 16905],
 [0, 13292, 16901, 16906],
 [0, 13293, 16901, 16907],
 [0, 13294, 16901, 16908],
 [0, 13295, 16901, 16909],
 [0, 13296, 16901, 16910],
 [0, 13297, 16901, 16911],
 [0, 15671, 16903, 16905],
 [0, 15672, 16903, 16906],
 [0, 15673, 16903, 16907],
 [0, 15674, 16903, 16908],
 [0, 15675, 16903, 16909],
 [0, 15676, 16903, 16910],
 [0, 15677, 16903, 16911],
 [0, 15678, 16903, 16912],
 [0, 15687, 16903, 16905],
 [0, 15688, 16903, 16906],
 [0, 15689, 16903, 16907],
 [0, 15690, 16903, 16908],
 [0, 15691, 16903, 16909],
 [0, 15692, 16903, 16910],
 [0, 15693, 16903, 16911],
 [0, 15694, 16903, 16912],
 [0, 13332, 16901, 16905],
 [0, 13333, 16901, 16906],
 [0, 13334, 16901, 16907],
 [0, 13335, 16901, 16908],
 [0, 13336, 16901, 16909],
 [0, 13337, 16901, 16910],
 [0, 13338, 16901, 16911],
 [0, 13346, 16901, 16905],
 [0, 13347, 16901, 16906],
 [0, 13348, 16901, 16907],
 [0, 13349, 16901, 16908],
 [0, 13350, 16901, 16909],
 [0, 13351, 16901, 16910],
 [0, 13352, 16901, 16911],
 [0, 13360, 16901, 16905],
 [0, 13361, 16901, 16906],
 [0, 13362, 16901, 16907],
 [0, 13363, 16901, 16908],
 [0, 13364, 16901, 16909],
 [0, 13365, 16901, 16910],
 [0, 13366, 16901, 16911],
 [0, 13374, 16901, 16905],
 [0, 13375, 16901, 16906],
 [0, 13376, 16901, 16907],
 [0, 13377, 16901, 16908],
 [0, 13378, 16901, 16909],
 [0, 13379, 16901, 16910],
 [0, 13380, 16901, 16911],
 [0, 13388, 16901, 16905],
 [0, 13389, 16901, 16906],
 [0, 13390, 16901, 16907],
 [0, 13391, 16901, 16908],
 [0, 13392, 16901, 16905],
 [0, 13393, 16901, 16906],
 [0, 13394, 16901, 16907],
 [0, 13395, 16901, 16908],
 [0, 13396, 16901, 16909],
 [0, 13397, 16901, 16910],
 [0, 13398, 16901, 16911],
 [0, 13399, 16901, 16912],
 [0, 13400, 16901, 16913],
 [0, 13401, 16901, 16905],
 [0, 13402, 16901, 16906],
 [0, 13403, 16901, 16907],
 [0, 13404, 16901, 16908],
 [0, 13405, 16901, 16909],
 [0, 13406, 16901, 16905],
 [0, 13407, 16901, 16906],
 [0, 13408, 16901, 16907],
 [0, 13409, 16901, 16908],
 [0, 13410, 16901, 16909],
 [0, 13411, 16901, 16910],
 [0, 13412, 16901, 16911],
 [0, 13413, 16901, 16912],
 [0, 13414, 16901, 16913],
 [0, 15785, 16903, 16905],
 [0, 15786, 16903, 16906],
 [0, 15788, 16903, 16908],
 [0, 15787, 16903, 16907],
 [0, 15790, 16903, 16910],
 [0, 15789, 16903, 16909],
 [0, 15847, 16903, 16905],
 [0, 15848, 16903, 16906],
 [0, 15849, 16903, 16907],
 [0, 15850, 16903, 16908],
 [0, 15851, 16903, 16909],
 [0, 15852, 16903, 16910],
 [0, 15853, 16903, 16911],
 [0, 15854, 16903, 16912],
 [0, 15863, 16903, 16905],
 [0, 15864, 16903, 16906],
 [0, 15865, 16903, 16907],
 [0, 15866, 16903, 16908],
 [0, 15867, 16903, 16909],
 [0, 15868, 16903, 16910],
 [0, 15869, 16903, 16911],
 [0, 15870, 16903, 16912],
 [0, 15895, 16903, 16905],
 [0, 15896, 16903, 16906],
 [0, 15897, 16903, 16907],
 [0, 15898, 16903, 16908],
 [0, 15899, 16903, 16909],
 [0, 15900, 16903, 16910],
 [0, 15901, 16903, 16911],
 [0, 15902, 16903, 16912],
 [0, 15911, 16903, 16905],
 [0, 15912, 16903, 16906],
 [0, 15913, 16903, 16907],
 [0, 15914, 16903, 16908],
 [0, 15915, 16903, 16909],
 [0, 15916, 16903, 16910],
 [0, 15917, 16903, 16911],
 [0, 15918, 16903, 16912],
 [0, 13415, 16901, 16905],
 [0, 13416, 16901, 16906],
 [0, 13417, 16901, 16907],
 [0, 13418, 16901, 16908],
 [0, 13419, 16901, 16909],
 [0, 13420, 16901, 16910],
 [0, 13421, 16901, 16911],
 [0, 15927, 16903, 16905],
 [0, 15928, 16903, 16906],
 [0, 15929, 16903, 16907],
 [0, 15930, 16903, 16908],
 [0, 15931, 16903, 16909],
 [0, 15932, 16903, 16910],
 [0, 15933, 16903, 16911],
 [0, 15934, 16903, 16912],
 [0, 13429, 16901, 16905],
 [0, 13430, 16901, 16906],
 [0, 13431, 16901, 16907],
 [0, 13432, 16901, 16908],
 [0, 13433, 16901, 16909],
 [0, 13434, 16901, 16910],
 [0, 13435, 16901, 16911],
 [0, 15941, 16903, 16905],
 [0, 15942, 16903, 16906],
 [0, 15943, 16903, 16907],
 [0, 15944, 16903, 16908],
 [0, 15945, 16903, 16909],
 [0, 15946, 16903, 16910],
 [0, 13443, 16901, 16905],
 [0, 13444, 16901, 16906],
 [0, 13445, 16901, 16907],
 [0, 13446, 16901, 16908],
 [0, 13447, 16901, 16909],
 [0, 13448, 16901, 16910],
 [0, 13449, 16901, 16911],
 [0, 15955, 16903, 16905],
 [0, 15956, 16903, 16906],
 [0, 15957, 16903, 16907],
 [0, 15958, 16903, 16908],
 [0, 15959, 16903, 16909],
 [0, 15960, 16903, 16910],
 [0, 15961, 16903, 16911],
 [0, 15962, 16903, 16912],
 [0, 13457, 16901, 16905],
 [0, 13458, 16901, 16906],
 [0, 13459, 16901, 16907],
 [0, 13460, 16901, 16908],
 [0, 13461, 16901, 16909],
 [0, 13462, 16901, 16910],
 [0, 13463, 16901, 16911],
 [0, 15969, 16903, 16905],
 [0, 15970, 16903, 16906],
 [0, 15971, 16903, 16907],
 [0, 15972, 16903, 16908],
 [0, 15973, 16903, 16909],
 [0, 15974, 16903, 16910],
 [0, 13471, 16901, 16905],
 [0, 13472, 16901, 16906],
 [0, 13473, 16901, 16907],
 [0, 13474, 16901, 16908],
 [0, 13475, 16901, 16909],
 [0, 13476, 16901, 16910],
 [0, 13477, 16901, 16911],
 [0, 15983, 16903, 16905],
 [0, 15984, 16903, 16906],
 [0, 15985, 16903, 16907],
 [0, 15986, 16903, 16908],
 [0, 15987, 16903, 16909],
 [0, 15988, 16903, 16910],
 [0, 15989, 16903, 16911],
 [0, 15990, 16903, 16912],
 [0, 13484, 16901, 16905],
 [0, 13485, 16901, 16906],
 [0, 13486, 16901, 16907],
 [0, 13487, 16901, 16908],
 [0, 13488, 16901, 16909],
 [0, 13489, 16901, 16910],
 [0, 13490, 16901, 16911],
 [0, 15997, 16903, 16905],
 [0, 16001, 16903, 16909],
 [0, 16002, 16903, 16910],
 [0, 16000, 16903, 16908],
 [0, 15999, 16903, 16907],
 [0, 15998, 16903, 16906],
 [0, 16011, 16903, 16905],
 [0, 16013, 16903, 16907],
 [0, 16012, 16903, 16906],
 [0, 16014, 16903, 16908],
 [0, 16015, 16903, 16909],
 [0, 16018, 16903, 16912],
 [0, 16016, 16903, 16910],
 [0, 16017, 16903, 16911],
 [0, 16025, 16903, 16905],
 [0, 16026, 16903, 16906],
 [0, 16027, 16903, 16907],
 [0, 16028, 16903, 16908],
 [0, 16029, 16903, 16909],
 [0, 16030, 16903, 16910],
 [0, 16046, 16903, 16912],
 [0, 16039, 16903, 16905],
 [0, 16040, 16903, 16906],
 [0, 16041, 16903, 16907],
 [0, 16042, 16903, 16908],
 [0, 16043, 16903, 16909],
 [0, 16044, 16903, 16910],
 [0, 16045, 16903, 16911],
 [0, 16055, 16903, 16905],
 [0, 16056, 16903, 16906],
 [0, 16057, 16903, 16907],
 [0, 16058, 16903, 16908],
 [0, 16059, 16903, 16909],
 [0, 16060, 16903, 16910],
 [0, 16061, 16903, 16911],
 [0, 16062, 16903, 16912],
 [0, 9315, 16897, 16905],
 [0, 9316, 16897, 16906],
 [0, 9317, 16897, 16907],
 [0, 9318, 16897, 16908],
 [0, 9319, 16897, 16909],
 [0, 9320, 16897, 16910],
 [0, 13569, 16901, 16905],
 [0, 13570, 16901, 16906],
 [0, 13571, 16901, 16907],
 [0, 13572, 16901, 16908],
 [0, 13573, 16901, 16909],
 [0, 13574, 16901, 16910],
 [0, 13575, 16901, 16911],
 [0, 16071, 16903, 16905],
 [0, 16072, 16903, 16906],
 [0, 16073, 16903, 16907],
 [0, 16074, 16903, 16908],
 [0, 16075, 16903, 16909],
 [0, 16076, 16903, 16910],
 [0, 16077, 16903, 16911],
 [0, 16078, 16903, 16912],
 [0, 13583, 16901, 16905],
 [0, 13584, 16901, 16906],
 [0, 13585, 16901, 16907],
 [0, 13586, 16901, 16908],
 [0, 13587, 16901, 16909],
 [0, 13588, 16901, 16910],
 [0, 13589, 16901, 16911],
 [0, 13597, 16901, 16905],
 [0, 13598, 16901, 16906],
 [0, 13599, 16901, 16907],
 [0, 13600, 16901, 16908],
 [0, 13601, 16901, 16909],
 [0, 13602, 16901, 16910],
 [0, 13603, 16901, 16911],
 [0, 16087, 16903, 16905],
 [0, 16088, 16903, 16906],
 [0, 16089, 16903, 16907],
 [0, 16090, 16903, 16908],
 [0, 16091, 16903, 16909],
 [0, 16092, 16903, 16910],
 [0, 16093, 16903, 16911],
 [0, 16094, 16903, 16912],
 [0, 9326, 16897, 16905],
 [0, 9327, 16897, 16906],
 [0, 9328, 16897, 16907],
 [0, 9329, 16897, 16908],
 [0, 9330, 16897, 16909],
 [0, 9358, 16897, 16905],
 [0, 9359, 16897, 16906],
 [0, 9360, 16897, 16907],
 [0, 9361, 16897, 16908],
 [0, 9362, 16897, 16909],
 [0, 9363, 16897, 16910],
 [0, 13611, 16901, 16905],
 [0, 13612, 16901, 16906],
 [0, 13613, 16901, 16907],
 [0, 13614, 16901, 16908],
 [0, 13615, 16901, 16909],
 [0, 13616, 16901, 16910],
 [0, 13617, 16901, 16911],
 [0, 13625, 16901, 16905],
 [0, 13626, 16901, 16906],
 [0, 13627, 16901, 16907],
 [0, 13628, 16901, 16908],
 [0, 13629, 16901, 16909],
 [0, 13630, 16901, 16910],
 [0, 13631, 16901, 16911],
 [0, 9364, 16897, 16905],
 [0, 9365, 16897, 16906],
 [0, 9366, 16897, 16907],
 [0, 9367, 16897, 16908],
 [0, 9368, 16897, 16909],
 [0, 13639, 16901, 16905],
 [0, 13640, 16901, 16906],
 [0, 13641, 16901, 16907],
 [0, 13642, 16901, 16908],
 [0, 13643, 16901, 16909],
 [0, 13644, 16901, 16910],
 [0, 13645, 16901, 16911],
 [0, 9369, 16897, 16905],
 [0, 9370, 16897, 16906],
 [0, 9371, 16897, 16907],
 [0, 9372, 16897, 16908],
 [0, 9373, 16897, 16909],
 [0, 9374, 16897, 16910],
 [0, 9375, 16897, 16911],
 [0, 13557, 16901, 16905],
 [0, 13558, 16901, 16906],
 [0, 13559, 16901, 16907],
 [0, 13560, 16901, 16908],
 [0, 13561, 16901, 16909],
 [0, 13562, 16901, 16910],
 [0, 13534, 16901, 16905],
 [0, 13535, 16901, 16906],
 [0, 13536, 16901, 16907],
 [0, 13537, 16901, 16908],
 [0, 13538, 16901, 16909],
 [0, 13539, 16901, 16910],
 [0, 9415, 16897, 16905],
 [0, 9416, 16897, 16906],
 [0, 9417, 16897, 16907],
 [0, 9418, 16897, 16908],
 [0, 9419, 16897, 16909],
 [0, 9420, 16897, 16910],
 [0, 9421, 16897, 16911],
 [0, 16135, 16903, 16905],
 [0, 16136, 16903, 16906],
 [0, 16137, 16903, 16907],
 [0, 16138, 16903, 16908],
 [0, 16139, 16903, 16909],
 [0, 16140, 16903, 16910],
 [0, 16141, 16903, 16911],
 [0, 16142, 16903, 16912],
 [0, 16167, 16903, 16905],
 [0, 16174, 16903, 16912],
 [0, 16168, 16903, 16906],
 [0, 16169, 16903, 16907],
 [0, 16170, 16903, 16908],
 [0, 16171, 16903, 16909],
 [0, 16172, 16903, 16910],
 [0, 16173, 16903, 16911],
 [0, 16183, 16903, 16905],
 [0, 16184, 16903, 16906],
 [0, 16185, 16903, 16907],
 [0, 16186, 16903, 16908],
 [0, 16187, 16903, 16909],
 [0, 16188, 16903, 16910],
 [0, 16189, 16903, 16911],
 [0, 16190, 16903, 16912],
 [0, 16214, 16903, 16905],
 [0, 16215, 16903, 16906],
 [0, 16216, 16903, 16907],
 [0, 16217, 16903, 16908],
 [0, 16218, 16903, 16909],
 [0, 16219, 16903, 16910],
 [0, 16220, 16903, 16911],
 [0, 16221, 16903, 16912],
 [0, 16228, 16903, 16905],
 [0, 16229, 16903, 16906],
 [0, 16230, 16903, 16907],
 [0, 16231, 16903, 16908],
 [0, 16232, 16903, 16909],
 [0, 16233, 16903, 16910],
 [0, 16288, 16903, 16905],
 [0, 16289, 16903, 16906],
 [0, 16290, 16903, 16907],
 [0, 16291, 16903, 16908],
 [0, 16292, 16903, 16909],
 [0, 16293, 16903, 16910],
 [0, 16294, 16903, 16911],
 [0, 16295, 16903, 16912],
 [0, 16296, 16903, 16913],
 [0, 16297, 16903, 16914],
 [0, 16298, 16903, 16915],
 [0, 16299, 16903, 16905],
 [0, 16300, 16903, 16906],
 [0, 16301, 16903, 16907],